@import "partials/navbar.css";

body{
    background: url("/img/bg/brickbg.jpg") repeat-x;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: trajan !important;
    margin: 0px;
    padding: 0px;
}



.header
{
    background: url("/img/bg/header.jpg") no-repeat;
    height:190px;
}

.logo
{
    text-align: center;
    padding: 10px;
}
.footer
{
    background: url("/img/bg/footer.jpg") no-repeat;
    height: 250px;

}

.col-lg-10
{
    float: none;
    margin: 0 auto;
    padding: 0px;
}

.main
{
    background: url("/img/bg/paperbg1.jpg") repeat-y;

    min-height:600px;
    z-index: 1000;
    /*background-size:contain;*/
    /*background-position:center;*/

}


@media screen and (max-width: 998px)
{


    .col-lg-10, .main{
        width:100% !important;
    }

    .container{
        padding: 0px !important;
        width: 100% !important;
    }
}

