@import "../bootstrap/css/bootstrap.min.css";
@import "../bootstrap/css/bootstrap-theme.min.css";
@import "../font-awesome-4.2/css/font-awesome.min.css";
@import "partials/navbar.css";

body{
    background: url("/img/bg/brickbg.jpg") repeat-x;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: sketch !important;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4
{
    font-family: "Myriad Pro", 'Open Sans', "Gill Sans", "Gill Sans MT", sans-serif !important;
    color:#bd2236;
    text-align: left !important;
}

h1{
    font-weight: bold;
    font-size: 34px;
    border-bottom: 1px dotted #000000;
    padding-bottom: 20px;
    font-family: "Myriad Pro", 'Open Sans', "Gill Sans", "Gill Sans MT", sans-serif !important;
    font-style: normal;
}

a, a:hover {
    text-decoration: none !important;
    color: inherit;
}

.header
{
    background: url("/img/bg/header.jpg") no-repeat;
    height:190px;
}

.logo
{
    text-align: center;
    padding: 10px;
}

.logo .img-responsive{
    display: inline-block;
}
.footer
{
    /*background: url("/img/bg/footer.jpg") repeat-y;*/
    background-color: #363636;

    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
}

.footer-title{
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
}
.recycleLogo{
    padding: 20px 0px;
}

.recycleLogo img{
    float: left;

}

.recycleLogo-text{
    float: left;
    width: 195px;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 5px;
}

.footer-list-items{
    list-style: none;
    padding-left: 0px;
}
.footer-list-items li a:hover
{
    color: #ffff00;
}
.footer-contactus{
    padding-top:10px;
    font-size: 13px;
}

.subfooter{
    padding-top: 40px;
}
.facebook:hover
{
    color: #3b5998;
}
.twitter:hover
{
    color: #4099ff
}
.google:hover
{
    color: #d34836
}
.youtube:hover
{
    color: #bb0000
}
.instagram:hover
{
    color: #517fa4
}
.ads{
    text-align: right;
    font-size: 11px;
}
.social-network{
    text-align:right;
}

.col-lg-10
{
    float: none;
    margin: 0 auto;
    padding: 0px;
}

.main-index
{
    background: url("/img/bg/paperbg1.jpg") repeat-y;

    min-height:600px;
    z-index: 1000;
    /*background-size:contain;*/
    /*background-position:center;*/

}


.main
{
    background-color: white;
    min-height:600px;
    z-index: 1000;
    margin-top:-20px;
    box-shadow: inset 0 0 25px #000000;
    padding: 25px 50px;
}

.wrapper{
    padding:20px;
    text-align: left;
}

.wrapper .row{
    margin-top: 30px !important;
}

.storytext{
    padding-left:50px
}

.storytext h3{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

ul .dropdown-menu{
    background:#333;
    color: #FFF;
    margin-top: 6px;

}

.specialsBlocks{
    text-align: left;
}

.login{
    width:70%;
}

/*Slideshow*/
.carousel {
    background: url("/img/slideshow.png") repeat-x;
    position: relative;
    padding: 5px;     /* Shows as a border around the carousel */
    margin: 0 auto;
    width: 96%;
}
.carousel-inner div img{
    padding-left: 10px
}

/*5 Column Bootstrap*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.important-links
{
    margin-top:25px;
}
.important-links div img{
    width:100%;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


@media screen and (max-width: 998px)
{


    .col-lg-10, .main{
        width:100% !important;
    }

    .container{
        padding: 0px !important;
        width: 100% !important;
    }

    .footer-list-items li a:hover
    {
        color: #600d00;
    }
    .dashed-border{
        border-bottom: 1px dashed #FFFFFF;
        margin-bottom: 10px;
    }

    .important-links div img{
        width:auto;
    }

    .login{
        width:100%;
    }
}

